.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 8px sans-serif;
}

.sideNode circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.sideNode text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.sideLink {
  fill: none;
  stroke: #ccc;
  stroke-width: .8px;
}

.active {
    stroke: red;
    stroke-width: 2px;
}

circle.active {
    stroke: red;
}

.selected {
    stroke: red;
    stroke-width: 2px;
}

circle.selected {
    stroke: red;
}

.ui-options {
    position: fixed;
    top: 20px;
    right: 200px;
    width: 200px;
    height: 60px;
}
