/* leave space for side navigation panel */
@media only screen {
    main {
        padding-left:240px;
    }
}


@media only screen and (max-width: 768px) {
    main {
        padding-left: 0px;
    }
}

path {
    cursor: pointer;
    transition: fill 250ms;
}

path:hover {
    fill-opacity: 0.5;
}

body {
}

main {
    margin-top: -70px;
}

.tile {
    font-family:Raleway;
    font-weight:300;
}

.heading {
    font-family:Raleway;
    font-weight:300;
}

.side-nav .logo {
    margin-top: 20px;
}

.leftAxis {
    font-weight:200;
}

.title {
    font-family: "Roboto";
    font-size: 20px;
    font-weight:200;
}

div.container {
    width:100%;
    top:100px;
}

#graph {
    padding: 20px;
}

#graph.svg{
    /*display: inline-block;*/
    /*margin: auto;*/
}

#backBtn {
    position:absolute;
    background-color: #8ed8f8;
    top: 15px;
    left: 260px;
    visibility: hidden;
}

svg {
    border-radius: 4px;
    margin:10px;
}

.node {
  stroke: #000;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-width: 1.5px;
}

/* Side panel CSS */
div.settings-label {
    border-top: 1px solid #000;
    margin-top:10px;
    margin-bottom:40px;
    font-weight:300;
}

div.settings-label p{
  font-size:16px;
  color:#0E4580;
}

div#institution-info {
    position: absolute;
    width: 220px;
    height: 140px;
}

#institution-info p {
    color: #030E19;
}

#institution-info p#school-title {
    font-size: 16px;
    font-weight: 800;
}

#institution-info p#school-data {
    font-size: 14px;
    font-weight: 400;
}

.legendBox {
    width: 180px;
    position: absolute;
    top: 550px;
}

.legendBox svg {
    margin-left: -4px;
}

.legend {
    font-size: 14px;
}

.input-field {
    margin-left: 0px;
    padding-bottom: 5px;
    font-family: "Roboto";
}

.input-field.data-filter {
    width: 180px;
    position: absolute;
    top: 340px;
}

.input-field.contract-filter {
    width: 180px;
    position: absolute;
    top: 420px;
}

/* MATERIAL.CSS */
[type="radio"]:checked + label:after {
    background-color:#448AFF;
    border-color: #3864c9;
}

[type="radio"] + label {
    border-color: #3864c9;
}

.dropdown-content {
    font-family:"Roboto";
    font-size:.5em;
}

.dropdown-content li span {
    font-family:"Roboto";
    font-size:1.75em;
}

.mdi-navigation-menu {
    font-size:30px;
    color:#444;
}

i.mdi-navigation-menu:before {
    font-size:40px;
    content: "\e662";
}
i.mdi-navigation-menu:hover {
    transition: color 0.5s ease;
    color: #0176B4;
}
